.form__input_image-link{
    width: 83%;
    margin: 13px auto 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    outline: none;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}