.form__user-data {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 358px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .form__user-data {
    max-width: 274px;
  }
}

@media screen and (max-width: 767px) {
  .form__user-data {
    max-width: 238px;
  }
}
